.flex-container{
    display: flex;
    text-align: center;
    margin-right:40px;
    margin-left:40px;
    justify-content: center;
}

.flex-child {
    flex:1;
    border: 2px ;
    font-size: large;
    color:rgb(157, 150, 226);
    font-weight: normal;
}

.flex-child:first-child{
    margin-right:20px;
    background-color: blueviolet;
}